{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<form class="form-horizontal" action="{{ url('admin_users_insert') }}" method="post">
    <fieldset>
        <legend>{{ 'Vytvořit uživatele'|trans }}</legend>
        {% include "ArtemisBundle::Admin/Users/form.html.twig" with { form: form, createVar: true } %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Vytvořit uživatele'|trans }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}