{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <form class="form-horizontal" action="{{ url('admin_users_save', {id:user.id}) }}" method="post">
        <fieldset>
            <legend>{{ 'Editace uživatele'|trans }}</legend>
            {% include "ArtemisBundle::Admin/Users/form.html.twig" with { form: form, createVar: false } %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Uložit uživatele'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}