{% extends "ArtemisBundle::Admin/layout.html.twig" %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('admin') }}">{{ 'Nástěnka'|trans }}</a> <span class="divider">></span>
        </li>
        <li class="active">{{ 'Uživatelé propejeni s Facebook'|trans }}</li>
    </ul>
{% endblock %}




{% block middle_frame %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="ident">
                {{ myMacro.sortBy("id", orderby, ordertype, '#'|trans ) }}
            </th>
            <th>{{ 'Facebook ID'|trans }}</th>
            <th>
                {{ myMacro.sortBy("email", orderby, ordertype, 'E-mail'|trans ) }}
            </th>
                
            <th>
                {{ myMacro.sortBy("surname", orderby, ordertype, 'Jméno'|trans ) }}
            </th>
            <th>{{ 'Ostatní'|trans }}</th>
            <th class="action">{{ 'Akce'|trans }}</th>
        </tr>
        </thead>
        {% for user in users %}
        <tr >
            <td>
                {{ user.id }}
            </td>
            <td>
                {{ user.facebook.uid }}
            </td>
            <td >
                {{ user.email }}
            </td>
            <td >
                {{ user.surname }} {{ user.firstname }}
            </td>
            <td >
                {{ user.facebook.content }}
            </td>
            <td >
                <a href="https://www.facebook.com/{{ user.facebook.uid }}" class="btn-mini btn btn-info" target="_blank">
                    {{ 'přejít profil'|trans }}
                </a>
            </td>

        </tr>
        {% endfor %}
        <tr>
            <td class="form-actions" colspan="6">
                <div class="pagination pagination-centered">
                    {% include "ArtemisBundle::Admin/_includes/paginator.html.twig" with { count:count, limit:limit, offset:offset, offsetName:"offset", orderby: orderby, ordertype:ordertype} %}
                </div>
            </td>
        </tr>
    </table>
    {% endblock %}