<div class="control-group">
    {{ form_label(form.firstname, 'Jméno'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.firstname) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.surname, 'Přijmení'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.surname) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.email, 'E-mail'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.userRoles, 'Práva'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.userRoles) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.username, 'Přihlašovací jméno'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.username) }}
    </div>
</div>
{% if createVar %}
<div class="control-group">
    {{ form_label(form.password, 'Přihlašovací heslo'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.password) }}
    </div>
</div>
{% endif %}

{{ form_rest(form) }}