{% extends "ArtemisBundle::Admin/layout.html.twig" %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('admin') }}">{{ 'Nástěnka'|trans }}</a> <span class="divider">></span>
        </li>
        <li class="active">{{ 'Uživatelé'|trans }}</li>
    </ul>
{% endblock %}


{% block middle_frame %}
    <div class="modal hide" id="modal">
        <form method="post" class="form-horizontal" action="{{ url('admin_users_password') }}" enctype="multipart/form-data">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>{{ 'Nastavit heslo uživateli'|trans }}</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    {{ form_label(passform.password, 'Nové heslo'|trans, { 'attr': {'class': 'control-label'}}) }}
                    <div class="controls">
                        {{ form_widget(passform.password) }}
                    </div>
                </div>
                {{ form_rest(passform) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">{{ 'Zavřít'|trans }}</a>
                <input type="submit" class="btn btn-primary" value="{{ 'Změnit'|trans }}" />
            </div>
        </form>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th class="ident">
                {{ myMacro.sortBy("id", orderby, ordertype, '#'|trans ) }}
            </th>
            <th>
                {{ myMacro.sortBy("username", orderby, ordertype, 'Přihl. jméno'|trans ) }}
            </th>
            <th>
                {{ myMacro.sortBy("email", orderby, ordertype, 'E-mail'|trans ) }}
            </th>
            <th>
                {{ myMacro.sortBy("surname", orderby, ordertype, 'Jméno'|trans ) }}
            </th>
            <th>{{ 'Ostatní info'|trans }}</th>
            <th class="action">{{ 'Akce'|trans }}</th>
        </tr>
        </thead>
        {% for user in users %}
        <tr >
            <td>
                {{ user.id }}
            </td>
            <td >
                {{ user.username }}
            </td>
            <td >
                {{ user.email }}
            </td>
            <td >
                {{ user.surname }} {{ user.firstname }}
            </td>

            <td >
                <span class="label popoverShow" data-original-title="{{ 'Práva uživatele'|trans }}" data-content="
                    {% for role in user.userRoles %}
                        {{ role.description|trans }}<br />
                    {% endfor %}
                ">
                {{ 'zobrazit práva'|trans }}</span>
                {% if user.facebook %}
                    <a href="https://www.facebook.com/{{ user.facebook.uid }}" target="_blank">
                        <span class="label label-info popoverShow popoverShow" data-original-title="{{ 'Facebook profil'|trans }}" data-content='
                        <img src="https://graph.facebook.com/{{ user.facebook.uid }}/picture?type=large" alt="Facebook"/>
                        '>{{ 'facebook profile'|trans }}</span>
                    </a>
                {% endif %}
            </td>
            <td >
                <a href="#modal" class="btn-mini btn btn-inverse openModal" rel="{{ user.id }}">
                    {{ 'změnit heslo'|trans }}
                </a>
                <a href="{{ url('admin_users_edit', {id:user.id}) }}" class="btn-mini btn btn-info">
                    {{ 'editovat'|trans }}
                </a>
                <a href="{{ url('admin_users_delete', {id:user.id}) }}" class="btn-mini btn btn-danger">
                    {{ 'smazat'|trans }}
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="form-actions" colspan="6">
                <a href="{{ url('admin_users_create') }}" class="btn btn-success fright">{{ 'Vytvořit uživatele' }}</a>
            </td>
        </tr>
        <tr>
            <td class="form-actions" colspan="6">
                <div class="pagination pagination-centered">
                    {% include "ArtemisBundle::Admin/_includes/paginator.html.twig" with { count:count, limit:limit, offset:offset, offsetName:"offset", orderby: orderby, ordertype:ordertype} %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}