{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block header %}
<script type="text/javascript">
    $(document).ready(function() {
        $( ".sortable" ).bind( "sortstop", function(event, ui) {
            var position = 0;
            $('li', this).each(function() {
                var id = $(this).attr('id');
                $.get('{{ url('admin_page_module_resort_ajax', { module_id: "" }) }}/' + id + '?position=' +  position);
                position++;
            });
        });
        $('.hidecontent').click(function(e) {
            var id = $(this).attr('rel');
            var $item = $('li#' + id + " div.formItem");
            if($item.is(":hidden"))
                $item.show(600);
            else
                $item.hide(600);
        });
    });
</script>
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li>
        <a href="{{ url('admin') }}">{{ 'Nástěnka'|trans }}</a> <span class="divider">></span>
    </li>
    <li>
        <a href="{{ url('admin_page') }}">{{ 'Stránky'|trans }}</a>
        <span class="divider">></span>
    </li>
    <li class="active">{{ 'Editace stránky'|trans }}</li>
</ul>
{% endblock %}

{% block side_bar %}
    {% include "ArtemisBundle::Admin/Page/sidebar.html.twig" with { pages: pages } %}
{% endblock %}

{% block middle_frame %}
    <div class="span9">
        <form class="form-horizontal" action="{{ url('admin_page_save', { id:page.getId() }) }}" method="post">
            <fieldset>
                <legend>{{ 'Editace stránky'|trans }}: '{{ page.getTitle() }}'</legend>
                {% include "ArtemisBundle::Admin/Page/form.html.twig" with { form: form, page:page } %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{{ 'Uložit stránku'|trans }}</button>
                    <a href="{{ url('admin_page') }}" class="btn btn-success">{{ 'Přidat novou stránku'|trans }}</a>
                    {% if page.getId() != 1 %}
                    <a href="{{ url('admin_page_delete', { id:page.getId() }) }}" class="btn btn-danger">{{ 'Smazat'|trans }}</a>
                    {% endif %}

                </div>
                {{ form_rest(form) }}
            </fieldset>
        </form>
        <div>
            <form action="{{ url('admin_page_module_add', {id:page.getId()}) }}" method="post" class="well form-inline">
                <fieldset>
                    <legend>{{ 'Moduly'|trans }}</legend>
                    <div class="control-group">
                        {{ form_widget(moduleform.module) }}
                        <button type="submit" class="btn btn-primary">{{ 'Přidat modul'|trans }}</button>
                    </div>
                    {{ form_rest(moduleform) }}
                </fieldset>
            </form>
            <ul class="sortable">
                {% for module in page.getModules() %}
                    <li id="{{ module.id }}">
                        <form action="{{ url('admin_page_module_settings', {id:page.getId(), module_id:module.getId() }) }}" method="post" class="well form-horizontal">
                            <fieldset>
                                <legend>
                                    {{ module.getName()|trans }}
                                </legend>
                                <div class="formItem">
                                    {% set moduleReder = module.getClass() ~ ":page" %}
                                    {% render moduleReder with{ page_id:page.getId(), id: module.getId() } %}
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">{{ 'Uložit'|trans }}</button>
                                    <a href="{{ url('admin_page_module_delete', {id:page.id, module_id: module.id}) }}" class="btn btn-danger">{{ 'Smazat'|trans }}</a>
                                    <a href="#{{ module.id }}" rel="{{ module.id }}" class="btn hidecontent">{{ 'Zobrazit/Skrýt'|trans }}</a>
                                </div>
                            </fieldset>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}