<div class="control-group">
    {{ form_label(form.title, 'Název'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.title) }}
    </div>
</div>
{% if (page and page.getId() != 1) or not page %}
    <div class="control-group">
        {{ form_label(form.slug, 'URL slug'|trans, { 'attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.slug) }}
            <p class="help-block">{{ 'URL se generuje samo'|trans }}</p>
        </div>
    </div>
{% endif %}
<div class="control-group">
    {{ form_label(form.language, 'Jazyk'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.language) }}
    </div>
</div>
{% if (page and page.getId() != 1) or not page %}
    <div class="control-group">
        {{ form_label(form.parent, 'Nadřazená stránka'|trans, { 'attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.parent, { 'empty_value': '-- Žádná --'|trans, 'required': false }) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.externalUrl, 'Externí odkaz'|trans, { 'attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.externalUrl) }}
        </div>
    </div>
{% endif %}
<div class="control-group">
    {{ form_label(form.template, 'Šablona'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.template, { 'empty_value': '-- Žádná --'|trans, 'required': false }) }}
    </div>
</div>