{% extends "ArtemisBundle::Admin/layout.html.twig" %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url('admin') }}">{{ 'Nástěnka'|trans }}</a> <span class="divider">></span>
        </li>
        <li class="active">{{ 'Stránky'|trans }}</li>
    </ul>
{% endblock %}

{% block side_bar %}
    {% include "ArtemisBundle::Admin/Page/sidebar.html.twig" with { pages: pages } %}
{% endblock %}

{% block middle_frame %}
<div class="span9">
    <form class="form-horizontal" action="{{ url('admin_page_insert') }}" method="post">
        <fieldset>
            <legend>{{ 'Vytvořit stránku'|trans }}</legend>
            {% include "ArtemisBundle::Admin/Page/form.html.twig" with { form: form, page:null } %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Vytvořit stránku'|trans }}</button>
            </div>
            {{ form_rest(form) }}
        </fieldset>
    </form>
</div>
{% endblock %}