{% macro recurse(root) %}
<ul class="nav nav-list">
    {% for page in root %}
    {% set item = page['item']%}
    {% set child = page['childs']%}
    <li>
        <a href="{{ url('admin_page_edit', {id:item.id}) }}">
            {% if item.id == 1 %}
                <i class="icon-home"></i>
            {% elseif item.externalUrl|length > 0 %}
                <i class="icon-random"></i>
            {% else %}
                <i class="icon-list-alt"></i>
            {%endif%}
            {{item.title}}

        </a>
        {% if child is defined and child|length > 0 %}
        {{ _self.recurse(child) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}
<div class="span3">

    <div class="well sidebar-nav">
        <ul class="nav nav-list">
        <li class="nav-header">{{ 'Navigace'|trans }}</li>
        {{ _self.recurse(pages) }}
        </ul>
    </div>
</div>