<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}{{ configvalue('page_name') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('/project/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('/project/css/colorbox.css') }}" />
        <meta name="keywords" content="{{ configvalue('page_keywords') }}" />
        <meta name="description" content="{{ configvalue('page_description') }}" />
        <script type="text/javascript" src="http://www.websnapr.com/js/websnapr.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('/project/js/jquery.colorbox-min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/project/js/main.js') }}"></script>
    </head>
    <body>
        <div class="body">
            <div style="display: none;">
                <div id="loginWindow">
                    <p>
                        Pro přihlášeni do soutěže musíte být přihlášeni přes facebook.
                    </p>
                    <a href="{{ facebook_login_url("email, user_about_me, publish_stream", app.request.request.get('referer')) }}"><img src="/project/gfx/facebook_login.png" alt="Facebook login"/></a>
                </div>
            </div>
            {% if not is_facebook_logged() and page and page.slug == 'hlasuj' %}
                <script type="text/javascript">
                    if($.cookie("example") != 'foo') {
                        $.fn.colorbox({width:"500px", height: "200px;", inline:true, href:"#loginWindow"});
                    }
                    $.cookie("example", "foo", { path: '/' });
                </script>
            {% endif %}
            {% include "ArtemisBundle::Front/_includes/facebook.html.twig" %}
            <div class="content">
                <div class="logo">
                    <a href="{{ url('homepage') }}" title="{{ configvalue('page_name') }}">
                        <img src="{{ asset('/project/gfx/nejhorsistranka.png') }}" alt="{{ configvalue('page_name') }}"/>
                    </a>
                </div>
                <div class="line"></div>
                <div class="nav">
                    <ul>
                        <li class="home">
                            <a href="{{ url('homepage') }}" title="{{ configvalue('page_name') }}">
                                <span>
                                </span>
                            </a>
                        </li>
                        <li class="vote">
                            <a href="{{ url('page', {slug:'hlasuj'}) }}" title="Hlasuj">
                                <span>
                                </span>
                            </a>
                        </li>
                        <li class="newweb">
                            <a href="{{ url('add_site_action') }}" title="{{ configvalue('page_name') }}">
                                <span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="data">
                    {% block content %}{% endblock %}
                </div>
                <div class="clear"></div>
                <div class="footer {% if not page or page.id > 1 %} nothp{% endif %}">
                        {{ configvalue('page_footer')|raw }}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </body>
</html>
