{% extends "ArtemisBundle::Admin/layout.html.twig" %}
{% block middle_frame %}
    <ul class="nav nav-tabs tabs">
        <li class="active"><a href="#seo" data-toggle="tab">{{ 'SEO'|trans }}</a></li>
        <li><a href="#other" data-toggle="tab">{{ 'Ostatní nastavení'|trans }}</a></li>
        <li><a href="#showset" data-toggle="tab">{{ 'Nastavení zobrazení'|trans }}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="seo">
            <form class="form-horizontal" action="{{ url('admin_settings_config_save') }}" method="post">
                <fieldset>
                    {{ form_widget(group_seo) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{ 'Uložit'|trans }}</button>
                    </div>
                    {{ form_rest(group_seo) }}
                </fieldset>
            </form>
        </div>
        <div class="tab-pane" id="other">
            <form class="form-horizontal" action="{{ url('admin_settings_config_save') }}" method="post">
                <fieldset>
                    {{ form_widget(group_other) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{ 'Uložit'|trans }}</button>
                    </div>
                    {{ form_rest(group_seo) }}
                </fieldset>
            </form>
        </div>
        <div class="tab-pane" id="showset">
            <form class="form-horizontal" action="{{ url('admin_settings_config_save') }}" method="post">
                <fieldset>
                    {{ form_widget(group_showset) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{ 'Uložit'|trans }}</button>
                    </div>
                    {{ form_rest(group_showset) }}
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
