<div class="control-group">
    {{ form_label(form.name, 'Název profilu'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.name) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.width, 'Šířka obrázku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.width) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.height, 'Výška obrázku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.height) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.crop, 'Oříznout obrázek'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.crop) }}
    </div>
</div>
{{ form_rest(form) }}