{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <form class="form-horizontal" action="{{ url('admin_settings_profiles_save', {id:profile.id}) }}" method="post">
        <fieldset>
            <legend>{{ 'Editace profilu obrázků'|trans }}</legend>
            {% include "ArtemisBundle::Admin/Settings/image-profile-form.html.twig" with { form: form } %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Uložit profil'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}