{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="ident">#</th>
                <th>{{ 'Název profilu'|trans }}</th>
                <th>{{ 'Rozlišení profilu'|trans }}</th>
                <th>{{ 'Oříznout'|trans }}</th>
                <th class="action">{{ 'Akce'|trans }}</th>
            </tr>
        </thead>
        {% for profile in profiles %}
            <tr>
                <td>
                    {{ profile.id }}
                </td>
                <td>
                    {{ profile.name }}
                </td>
                <td>
                    {{ profile.width }} x {{ profile.height }}
                </td>
                <td>
                    {% if profile.crop %}<span class="label label-success">{{ 'ano'|trans }}</span>{% else %}<span class="label label-important">{{ 'ne'|trans }}</span>{% endif %}
                </td>
                <td>
                    <a href="{{ url('admin_settings_profiles_edit', {id:profile.id}) }}" class="btn-mini btn btn-info">
                        {{ 'editovat'|trans }}
                    </a>
                    <a href="{{ url('admin_settings_profiles_delete', {id:profile.id}) }}" class="btn-mini btn btn-danger">
                        {{ 'smazat'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="form-actions" colspan="5">
                <a href="{{ url('admin_settings_profiles_create') }}" class="btn btn-success fright">{{ 'Vytvořit profil'|trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}