{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="ident">#</th>
            <th>{{ 'Název šablony'|trans }}</th>
            <th class="action">{{ 'Akce'|trans }}</th>
        </tr>
        </thead>
        {% for template in templates %}
        <tr>
            <td>
                {{ template.id }}
            </td>
            <td >
                {{ template.name }}
            </td>
            <td>
                <a href="{{ url('admin_settings_template_edit', {id:template.id}) }}" class="btn-mini btn btn-info">
                    {{ 'editovat'|trans }}
                </a>
                <a href="{{ url('admin_settings_template_delete', {id:template.id}) }}" class="btn-mini btn btn-danger">
                    {{ 'smazat'|trans }}
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="form-actions" colspan="3">
                <a href="{{ url('admin_settings_template_create') }}" class="btn btn-success fright">{{ 'Vytvořit šablonu'|trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}