{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <form class="form-horizontal" action="{{ url('admin_settings_template_insert') }}" method="post">
        <fieldset>
            <legend>{{ 'Vytvořit šablonu'|trans }}</legend>
            {% include "ArtemisBundle::Admin/Settings/template-form.html.twig" with { form: form } %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Vytvořit šablonu'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/artemis/codemirror/codemirror.css') }}">
    <script src="{{ asset('bundles/artemis/codemirror/codemirror.js') }}"></script>
    <script src="{{ asset('bundles/artemis/codemirror/modes/xml.js') }}"></script>
    <script src="{{ asset('bundles/artemis/codemirror/modes/javascript.js') }}"></script>
    <script src="{{ asset('bundles/artemis/codemirror/modes/css.js') }}"></script>
    <script src="{{ asset('bundles/artemis/codemirror/modes/clike.js') }}"></script>
    <script src="{{ asset('bundles/artemis/codemirror/modes/php.js') }}"></script>
    <script>
       /* $('document').ready(function() {
            var editor = CodeMirror.fromTextArea(document.getElementById("form_content"), {
                lineNumbers: true,
                matchBrackets: true,
                mode: "application/x-httpd-php",
                indentUnit: 4,
                indentWithTabs: true,
                enterMode: "keep",
                tabMode: "shift",
                extraKeys: {"Ctrl-Space": "autocomplete"}
            });
        });*/
    </script>
{% endblock %}