    <div class="control-group">
        {{ form_label(form.name, 'Název'|trans, { 'attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.content, 'Kód šablony'|trans, { 'attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.content) }}
        </div>
    </div>

    {{ form_rest(form) }}
