<div class="control-group">
    {{ form_label(form.title, 'Název článku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.title) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.slug, 'URL slug článku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.slug) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.language, 'Jazyk'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.language) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.categories, 'Kategorie'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.categories) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.published, 'Publikován'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.published) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.perex, 'Perex'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.perex) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.content, 'Obsah článku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.content) }}
    </div>
</div>
{{ form_rest(form) }}