{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<div class="modal hide" id="modal">
    <form method="post" class="form-horizontal" action="{{ url('admin_article_master') }}" enctype="multipart/form-data">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{{ 'Nahrát hlavní obrázek'|trans }}</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                {{ form_label(form.file, 'Hlavní obrázek'|trans, { 'attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {{ form_widget(form.file) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{{ 'Zavřít'|trans }}</a>
            <input type="submit" class="btn btn-primary" value="{{ 'Nahrát'|trans }}" />
        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="ident">
            {% set columnName = 'id' %}
            {% if orderby == columnName and ordertype == 'asc' %}
                <i class="icon-arrow-up"></i>
                <a href="?orderby={{ columnName }}&ordertype=desc">
            {% else %}
                    {% if orderby == columnName %} <i class="icon-arrow-down"></i>{% endif %}
                <a href="?orderby={{ columnName }}">
            {% endif %}
                #
            </a>
        </th>
        <th>{{ 'Hlavní obrázek'|trans }}</th>
        <th>
            {% set columnName = 'title' %}
            {% if orderby == columnName and ordertype == 'asc' %}
                <i class="icon-arrow-up"></i>
                <a href="?orderby={{ columnName }}&ordertype=desc">
            {% else %}
                {% if orderby == columnName %} <i class="icon-arrow-down"></i>{% endif %}
                <a href="?orderby={{ columnName }}">
            {% endif %}
                {{ 'Název článku'|trans }}
            </a>

        </th>
        <th>{{ 'Vytvořil'|trans }}</th>
        <th>{{ 'Jazyk'|trans }}</th>
        <th style="text-align: center;">
            {% set columnName = 'vote' %}
            {% if orderby == columnName and ordertype == 'asc' %}
                <i class="icon-arrow-up"></i>
                <a href="?orderby={{ columnName }}&ordertype=desc">
            {% else %}
                {% if orderby == columnName %} <i class="icon-arrow-down"></i>{% endif %}
                <a href="?orderby={{ columnName }}">
            {% endif %}
                {{ 'Rank'|trans }}
            </a>
        </th>
        <th style="text-align: center;">{{ 'Publikováno'|trans }}</th>
            <th class="action">{{ 'Akce'|trans }}</th>
    </tr>
    </thead>
    {% for article in articles %}
    <tr>
        <td>
            {{ article.id }}
        </td>
        <td>
            <a href="#modal" class="thumbnail width120 openModal" rel="{{ article.id }}">
                {% if article.masterImage %}
                    <img src="{{ url('image_render', {id:article.masterImage.id, profile_id:1}) }}" alt="{{ article.title }}" class="openTooltip" title="Klikem změníte hlavní obrázek"/>
                {%else%}
                    <img src="{{ asset('bundles/artemis/gfx/blankimage.png') }}" alt="{{ article.title }}" class="openTooltip" title="Klikem změníte hlavní obrázek" />
                {%endif%}
            </a>
        </td>
        <td>
            {{ article.title }}
        </td>
        <td>
            {% if article.createdBy %}
                {{ article.createdBy.surname }} {{ article.createdBy.firstname }}
            {% endif %}
        </td>
        <td>
            {% if article.language %}
                {{ article.language.name }}
            {% endif %}
        </td>
        <td style="text-align: center;">
            <span class="label label-info">{{ article.vote }}</span>
        </td>
        <td style="text-align: center;">
            {% if article.published %}
                <span class="label label-success">{{ 'ano'|trans }}</span>
            {% else %}
                <span class="label label-important">{{ 'ne'|trans }}</span>
            {% endif %}
        </td>
        <td>
            <a href="{{ url('admin_article_edit', {id:article.id}) }}" class="btn-mini btn btn-info">
                {{ 'editovat'|trans }}
            </a>
            <a href="{{ url('admin_article_delete', {id:article.id}) }}" class="btn-mini btn btn-danger">
                {{ 'smazat'|trans }}
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="form-actions" colspan="8">
            <a href="{{ url('admin_article_create') }}" class="btn btn-success fright">{{ 'Vytvořit článek'|trans }}</a>
        </td>
    </tr>
    <tr>
        <td class="form-actions" colspan="8">
            <div class="pagination pagination-centered">
                {% include "ArtemisBundle::Admin/_includes/paginator.html.twig" with { count:count, limit:limit, offset:offset, offsetName:"offset", orderby: orderby, ordertype:ordertype} %}
            </div>
        </td>
    </tr>
</table>
{% endblock %}