{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <form class="form-horizontal" action="{{ url('admin_article_save', {id:article.id}) }}" method="post">
        <fieldset>
            <legend>{{ 'Editace článku'|trans }}: '{{ article.title }}'</legend>
            {% include "ArtemisBundle::Admin/Article/articles-form.html.twig" with { form: form } %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Uložit článek'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}