{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<form class="form-horizontal" action="{{ url('admin_article_insert') }}" method="post">
    <fieldset>
        <legend>{{ 'Vytvořit článek'|trans }}</legend>
        {% include "ArtemisBundle::Admin/Article/articles-form.html.twig" with { form: form } %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Vytvořit článek'|trans }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}