<div class="control-group">
    {{ form_label(form.name, 'Název kategorie'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.name) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.slug, 'URL slug kategorie'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.slug) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.language, 'Jazyk'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.language) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.description, 'Popis kategorie'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.description) }}
    </div>
</div>
{{ form_rest(form) }}