{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="ident">#</th>
            <th>{{ 'Název kategorie'|trans }}</th>
            <th class="action">{{ 'Akce'|trans }}</th>
        </tr>
        </thead>
        {% for category in categories %}
            <tr>
                <td>
                    {{ category.id }}
                </td>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    <a href="{{ url('admin_article_category_edit', {id:category.id}) }}" class="btn-mini btn btn-info">
                        {{ 'editovat'|trans }}
                    </a>
                    <a href="{{ url('admin_article_category_delete', {id:category.id}) }}" class="btn-mini btn btn-danger">
                        {{ 'smazat'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="form-actions" colspan="3">
                <a href="{{ url('admin_article_category_create') }}" class="btn btn-success fright">{{ 'Vytvořit kategorii'|trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}