{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<form class="form-horizontal" action="{{ url('admin_article_category_save', {id:category.id}) }}" method="post">
    <fieldset>
        <legend>{{ 'Editovat kategorii článků'|trans }}</legend>
        {% include "ArtemisBundle::Admin/Article/category-form.html.twig" with { form: form } %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Uloži kategorii'|trans }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}