<div class="control-group">
    {{ form_label(form.category_id, 'Kategorie článků'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.category_id) }}
        <p class="help-block">{{ 'přidržením CTRL lze vybrat více kategorií '|trans }}</p>
    </div>
</div>

<div class="control-group">
    {{ form_label(form.orderBy, 'Řadit podle'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.orderBy) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.orderType, 'Směr řazení'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.orderType) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.limit, 'Počet na stránku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.limit) }}
        <p class="help-block">{{ 'pokud je nastaveno 0, vypíšou se všechny'|trans }}</p>
    </div>
</div>

<div class="control-group">
    {{ form_label(form.profile_id, 'Profil obrázků'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.profile_id) }}
        <p class="help-block">{{ 'pokud není v nabídce žádný, vytvořte si požadovaný v nastavení -> profily obrázků'|trans }}</p>
    </div>
</div>
