<div class="likebox">
    <div class="fb-like-box" data-href="{{ link|raw }}" data-border-color="{{ border|raw }}" data-width="{{ width }}" data-height="{{ height }}" data-show-faces="{% if faces %}true{% else %}false{% endif %}" data-stream="{% if stream %}true{% else %}false{% endif %}" data-header="{% if header %}true{% else %}false{% endif %}"></div>
</div>