<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" href="{{ asset('bundles/artemis/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ asset('bundles/artemis/css/login.css') }}" rel="stylesheet" />
        <script src="{{ asset('bundles/artemis/js/lib/jquery.main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/artemis/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/artemis/js/login.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="hero-unit window-login">
            {% if error %}
                <div class="alert alert-error">{{ error.message }}</div>
            {% endif %}
            <form  id="login_form" method="POST" action="{{ url('admin_login') }}">
                <label for="username">{{ 'Přihlašovací jméno'|trans }}</label>
                <input type="text" id="username" name="_username" placeholder="{{ 'Přihlašovací jméno'|trans }}"/>
                <label for="password">{{ 'Přihlašovací heslo'|trans }}</label>
                <input type="password" id="password" name="_password" placeholder="{{ 'Přihlašovací heslo'|trans }}" />

                <div class="clear_fix"></div>
                <input type="submit" class="btn btn-primary fright" value="{{ 'Přihlásit se'|trans }}" />
            </form>
            <form method="get" action="{{ url('admin_signin') }}">
                <label for="password">{{ 'Jazyk'|trans }}</label>
                <select name="locale">
                    {% for langKey, lang in languages  %}
                        <option value="{{langKey}}" {% if app.session.locale == langKey%} selected="selected"{%endif%}>{{ lang }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </body>
</html>
