{% extends "ArtemisBundle::Front/layout.html.twig" %}
{% block title %}{{ article.getTitle() }} | {% endblock %}
{% block content %}
<div class="default">
        <h1>
            {{ article.title }}
        </h1>
        {% if article.masterImage %}
            <a href="{{ url('image_render', {id:article.masterImage.id, profile_id:3}) }}" title="{{ article.title }}" rel="colorbox" class="image">
                <img src="{{ url('image_render', {id:article.masterImage.id, profile_id:2}) }}" alt="{{ article.title }}" class="fleft" />
            </a>
        {% endif %}
        <a href="{{ article.title }}" target="_blank" rel="nofollow">
            <img src="http://api.thumbalizr.com/?url={{ article.title }}&width=850&api_key=60158ec4040abbe9fca9618c0ce13bbe"/>
        </a>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        {{ article.content|raw }}
    </div>
{% endblock %}