<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Artemis CMS{% endblock %}</title>
    <link type="text/css" href="{{ asset('bundles/artemis/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('bundles/artemis/css/custom-theme/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('bundles/artemis/css/style.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/artemis/js/lib/jquery.main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/artemis/js/lib/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/artemis/js/lib/jquery.ajaxspinner.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/artemis/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/artemis/js/artemis.js') }}" type="text/javascript"></script>
    {% import "ArtemisBundle::Admin/_includes/macros.html.twig" as myMacro %}
    {% block header %}{% endblock %}
</head>
<body>
<div id="ajaxSpinner">
</div>
<div class="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ url('admin') }}">Artemis CMS</a>
                <div class="nav-collapse">
                    {% include "ArtemisBundle::Admin/_includes/menu.html.twig" with { menu: menu } %}
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> {{ 'Přihlášen'|trans }}: {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('admin_users_edit', {id:app.user.id}) }}">{{ 'Profil'|trans }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url('admin_signoff') }}">{{ 'Odhlásit se'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-flag"></i> {{ 'Jazyk'|trans }}: {{ langname(app.session.locale) }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% set divider = ""%}
                            {% for langKey, lang in languages  %}
                                {{divider|raw}}
                                <li><a href="{{ url('admin', {'_locale': langKey}) }}">{{ lang }}</a></li>
                                {% set divider = '<li class="divider"></li>'%}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="    alert alert-{{ message.getType() }}">{{ message.getMessage()|trans }}</div>
        {% endfor %}
    {% endif %}
    <div class="row-fluid">
        <div>
            {% block breadcrumb %}
            {% endblock %}
        </div>
    </div>
    <div class="row-fluid">
        {% block side_bar %}
        {% endblock %}
        {% block middle_frame %}
        {% endblock %}
    </div>
</div>
</body>
</html>
