{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Název role'|trans }}</th>
                <th>{{ 'Popis role'|trans }}</th>
            </tr>
        </thead>
        {% for role in roles %}
        <tr>
            <td>
                {{ role.id }}
            </td>
            <td>
                {{ role.name }}
            </td>
            <td>
                {{ role.description }}
            </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}