{% set pages = (ceil(count / limit) - 1) %}
{% if count > limit and limit > 0 %}
    <ul class="paginator">
        {% if offset >= limit %}
            <li><a href="?{{ offsetName }}={{ offset-limit }}" class="prev">{{ 'prev' }}</a></li>
        {% endif %}
        {% for currPage in 0..(pages) %}
            <li><a href="?{{ offsetName }}={{ currPage*limit }}" {% if offset == currPage*limit %}class="current"{% endif %}>{{ currPage }}</a></li>
        {% endfor %}
        {% if ( (offset+limit) / limit ) <= pages %}
            <li><a href="?{{ offsetName }}={{ offset+limit }}" class="next">{{ 'next' }}</a></li>
        {% endif %}
    </ul>
{% endif %}