{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<h2>
    {{ 'Artemis CMS'|trans }}
</h2>
<div class="span5">
    <div class="well dashboardicons">
        <fieldset>
            <legend>{{ 'Rychlá navigace'|trans }}</legend>
                <ul class="thumbnails">
                    {% if is_granted('ROLE_ADMIN_PAGE') %}
                    <li>
                        <a href="{{ url('admin_page') }}" class="thumbnail">
                            <img src="{{ asset('bundles/artemis/gfx/icons/page.png') }}" alt="{{ 'Stránky'|trans }}"/>
                            <span class="caption">
                                <h5>{{ 'Stránky'|trans }}</h5>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_USERS') %}
                    <li>
                        <a href="{{ url('admin_users') }}" class="thumbnail">
                            <img src="{{ asset('bundles/artemis/gfx/icons/users.png') }}" alt="{{ 'Uživatelé'|trans }}"/>
                            <span class="caption">
                                <h5>{{ 'Uživatelé'|trans }}</h5>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_ARTICLE') %}
                    <li>
                        <a href="{{ url('admin_article') }}" class="thumbnail">
                            <img src="{{ asset('bundles/artemis/gfx/icons/articles.png') }}" alt="{{ 'Články'|trans }}"/>
                            <span class="caption">
                                <h5>{{ 'Články'|trans }}</h5>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_SETTINGS') %}
                    <li>
                        <a href="{{ url('admin_settings_config') }}" class="thumbnail">
                            <img src="{{ asset('bundles/artemis/gfx/icons/settings.png') }}" alt="{{ 'Nastavení'|trans }}"/>
                            <span class="caption">
                                <h5>{{ 'Nastavení'|trans }}</h5>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
        </fieldset>
    </div>
</div>
<div class="span6">
    <div class="well dashboardicons">
        <form class="form-horizontal" action="{{ url('admin_dashboard_article') }}" method="post">
        <fieldset>
            <legend>{{ 'Vytvořit článek'|trans }}</legend>
            <div class="control-group">
                {{ form_label(artcileForm.title, 'Název článku'|trans, { 'attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {{ form_widget(artcileForm.title) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label(artcileForm.categories, 'Kategorie článku'|trans, { 'attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {{ form_widget(artcileForm.categories) }}
                </div>
            </div>
            <div class="control-group">
                {{ form_label(artcileForm.content, 'Text článku'|trans, { 'attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {{ form_widget(artcileForm.content) }}
                </div>
            </div>
            {{ form_rest(artcileForm) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ 'Vytvořit článek'|trans }}</button>
            </div>
        </fieldset>
        </form>
    </div>
</div>

{% endblock %}