<div class="control-group">
    {{ form_label(attribute(form, 'link'~id), 'ID Youtube videa'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'link'~id)) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(attribute(form, 'width'~id), 'Šířka videa'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'width'~id)) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(attribute(form, 'height'~id), 'Výška videa'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'height'~id)) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(attribute(form, 'fullscreen'~id), 'Povolit maximalizaci'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'fullscreen'~id)) }}
    </div>
</div>

