<div class="clear"></div>
<div class="youtubevideo" style="width: {{ width|raw }}px; margin: 0 auto;">
    <iframe width="{{ width|raw }}" height="{{ height|raw }}" src="http://www.youtube.com/embed/{{ link|raw }}" frameborder="0" {% if fullscreen %}allowfullscreen{%endif%}></iframe>
</div>