{% macro sortBy(columnName, orderby, ordertype, columnText) %}
    {% if orderby == columnName and ordertype == 'asc' %}
    <i class="icon-arrow-up"></i>
    <a href="?orderby={{ columnName }}&ordertype=desc">
        {% else %}
        {% if orderby == columnName %} <i class="icon-arrow-down"></i>{% endif %}
        <a href="?orderby={{ columnName }}">
    {% endif %}    
    {{ columnText }}
    </a>
{% endmacro %}