<ul class="nav">
    <li {% if app.request.attributes.get('_route') == 'admin'%}class="active"{% endif %}>
        <a href="{{ url('admin') }}">{{ 'Nástěnka'|trans }}</a>
    </li>
    {% for menuItem in menu %}
        {% set item = menuItem['menu_item'] %}
        {% set children = menuItem['menu_childs'] %}
        {% set class = "" %}
        {% if app.request.attributes.get('_route') == item.adminRoute%}
            {% set class = "active" %}
        {% endif %}
        {% if is_granted(item.role) %}
            <li class="{{ class }} {% if children|length > 0 %}dropdown autoopen{% endif %}">
                <a href="{{url(item.adminRoute)}}">{{ item.name|trans }}</a>
                {% if children|length > 0 %}
                <ul class="dropdown-menu">
                    {% for subItem in children %}
                        {% set itemSub = subItem['menu_item'] %}

                        {% if is_granted(itemSub.role) %}
                            <li>
                                <a href="{{url(itemSub.adminRoute)}}">{{ itemSub.name|trans }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endif %}
    {%endfor%}
</ul>