{% set pages = (ceil(count / limit) - 1) %}
{% set urlQuery = "&orderby="~orderby~"&ordertype="~ordertype %}
{% if count > limit and limit > 0 %}
    <ul>
        {% if offset >= limit %}
            <li><a href="?{{ offsetName }}={{ offset-limit }}{{ urlQuery }}" class="prev">{{ 'Předchozí'|trans }}</a></li>
        {% endif %}
        {% for currPage in 0..(pages) %}
            <li {% if offset == currPage*limit %}class="active"{% endif %}><a href="?{{ offsetName }}={{ currPage*limit }}{{ urlQuery }}" >{{ currPage }}</a></li>
        {% endfor %}
        {% if ( (offset+limit) / limit ) <= pages %}
            <li><a href="?{{ offsetName }}={{ offset+limit }}{{ urlQuery }}" class="next">{{ 'Další'|trans }}</a></li>
        {% endif %}
    </ul>
{% endif %}