ul.nav li.dropdown.autoopen:hover ul.dropdown-menu{
    display: block;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

table.table th.action {
    width: 200px;
}

table.table th.ident {
    width: 50px;
}

.width120 {
    width: 120px;
}

.sortable {
    margin: 0;
    padding: 0;
}

.sortable li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sortable-destination {
    width: 100%;
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 2px #666666;
    box-shadow: 2px 2px 2px 2px #666666;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #f5f5f5;
}
.sortable legend {
    cursor: move;
}

.ajax_loader {background: url("../gfx/spinner_squares_circle.gif") no-repeat center center transparent;width:100%;height:100%;}
.blue-loader .ajax_loader {background: url("../gfx/ajax-loader_blue.gif") no-repeat center center transparent;}

.dashboardicons ul.thumbnails {
    padding-top: 20px;
}

.dashboardicons ul.thumbnails li {
    width: 110px;
}

.dashboardicons ul.thumbnails li h5 {
    text-align: center;
}

.dashboardicons ul.thumbnails li .caption {
    padding: 0;
}