{% extends "ArtemisBundle::Front/layout.html.twig" %}
{% block title %}Nahraj WEB | {% endblock %}
{% block content %}

    <div class="default">
        <h1>
            Nahraj WEB
        </h1>
        {% if is_facebook_logged() %}
            <p>
                Zapojiť do súťaže môžete každú web stránku, o ktorej si myslíte, že potrebuje našu pomoc.
                Môže to byť stránka, ktorá má podľa vás zlý image, štruktúru, mapu a pod. Podmienkou je vyplniť nasledovné informácie:
            </p>
            <form action="{{ url('add_site_comfirm') }}" method="post" class="addSiteForm">
                <table class="addSite">
                    <tr>
                        <th>
                            <label for="url">URL najhoršej stránky:</label>
                        </th>
                        <td>
                            <input type="url" name="url" id="url"/>
                        </td>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <td>
                            <input  type="checkbox" name="comfirm" id="comfirm" value="1" />
                            <label for="comfirm">Súhlasím s pravidlami súťaže</label>
                        </td>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <td >
                            <input type="submit" value="" />
                        </td>
                    </tr>
                </table>
            </form>
            <script type="text/javascript">
                $('.addSiteForm').submit(function() {
                    var url = $('#url').val();
                    if(/^([a-z]([a-z]|\d|\+|-|\.)*):(\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?((\[(|(v[\da-f]{1,}\.(([a-z]|\d|-|\.|_|~)|[!\$&'\(\)\*\+,;=]|:)+))\])|((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=])*)(:\d*)?)(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*|(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)|((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)){0})(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(\#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url)) {

                    } else {
                        alert('Prosím zadajte URL v tvare http://adresa-webu.sk!');
                        return false;
                    }
                    if(url == '') {
                        alert('Musíte vyplnit url!');
                        return false;
                    }
                    if(!$('#comfirm').is(":checked")) {
                        alert('Pre pokračovanie musíte odsúhlasiť podmienky súťaže.');
                        return false;
                    }
                    return true;
                });
            </script>
        {% else %}
            <p>
                Na pridanie webu je potrebné prihlásiť sa cez Facebook. Prihlasením sa zároveň prihlásite do súťaže.
            </p>
            <div style="text-align: center;">
                <a href="{{ facebook_login_url("email, user_about_me, publish_stream", url('facebook_register')) }}"><img src="/project/gfx/facebook_login.png" alt="Facebook login"/></a>
            </div>
        {% endif %}
    </div>

{% endblock %}