{% extends "ArtemisBundle::Front/layout.html.twig" %}
{% block title %}{{ page.getTitle() }} | {% endblock %}
{% block content %}

    <div class="default">
        <h1>
            {{ page.getTitle() }}
        </h1>
        {% for module in page.getModules() %}
            {% set moduleReder = module.getClass() ~ ":frontend" %}
            {% render moduleReder with{ page_id:page.getId(), id: module.getId() } %}
        {% endfor %}
        {% if(page.slug == 'kontakt') %}
            <form action="{{ url('send_email') }}" method="post">
                    <table class="contactForm">
                        <tr>
                            <th>
                                {{ form_label(contactform.name, 'Vaše meno:') }}
                            </th>
                            <td>
                                {{ form_widget(contactform.name) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ form_label(contactform.email, 'Váš e-mail:') }}
                            </th>
                            <td>
                                {{ form_widget(contactform.email) }}
                            </td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;">
                                {{ form_label(contactform.text, 'Správa pre nás:') }}
                            </th>
                            <td>
                                {{ form_widget(contactform.text) }}
                            </td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top;">
                            </th>
                            <td>
                                <input type="submit" value="" class="fright"/>
                            </td>
                        </tr>
                    </table>
            </form>
        {% endif %}
    </div>

{% endblock %}