{% extends "ArtemisBundle::Front/layout.html.twig" %}
{% block title %}Nahraj WEB | {% endblock %}
{% block content %}

    <div class="default">
        <h1>
            Web existuje
        </h1>
        <p>
            Tento web už je v súťaži zaradený, prosím skúste pridať iný.
        </p>
    </div>

{% endblock %}