{% extends "ArtemisBundle::Front/layout.html.twig" %}

{% block content %}
    {% for module in page.getModules() %}
        {% set moduleReder = module.getClass() ~ ":frontend" %}
        {% render moduleReder with{ page_id:page.getId(), id: module.getId() } %}
    {% endfor %}

{% endblock %}