{% macro recurse(root, actpage) %}
<ul class="nav">
    {% for page in root %}
        {% set item = page['item']%}
        {% set child = page['childs']%}
        <li {% if actpage and item.id == actpage.getId() %}class="active"{% endif %}}>
            <a href="{% if item.id == 1%}{{ url('homepage') }}{% else %}{{ url('page', {slug:item.getSlug()}) }}{% endif %}" {% if actpage and item.id == actpage.getId() %}class="active"{% endif %}}>
                {{item.title}}
            </a>
            {% if child is defined and child|length > 0 %}
                {{ _self.recurse(child) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endmacro %}

{{ _self.recurse(menu, actpage) }}
