{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<table class="table table-striped">
    <thead>
    <tr>
        <th class="ident">#</th>
        <th>{{ 'Název statického boxu'|trans }}</th>
        <th class="action">{{ 'Akce'|trans }}</th>
    </tr>
    </thead>
    {% for staticbox in staticboxes %}
    <tr>
        <td>
            {{ staticbox.id }}
        </td>
        <td>
            {{ staticbox.slug }}
        </td>
        <td>
            <a href="{{ url('admin_extensions_staticboxes_edit', {id:staticbox.id}) }}" class="btn-mini btn btn-info">
                {{ 'editovat'|trans }}
            </a>
            <a href="{{ url('admin_extensions_staticboxes_delete', {id:staticbox.id}) }}" class="btn-mini btn btn-danger">
                {{ 'smazat'|trans }}
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td class="form-actions" colspan="3">
            <a href="{{ url('admin_extensions_staticboxes_create') }}" class="btn btn-success fright">{{ 'Vytvořit statický box'|trans }}</a>
        </td>
    </tr>
</table>
{% endblock %}