{% extends "ArtemisBundle::Admin/layout.html.twig" %}

{% block middle_frame %}
<form class="form-horizontal" action="{{ url('admin_extensions_staticboxes_save', {id:staticbox.id}) }}" method="post">
    <fieldset>
        <legend>{{ 'Vytvořit statický box'|trans }}</legend>
        {% include "ArtemisBundle::Admin/Extensions/staticboxes-form.html.twig" with { form: form } %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Uložit box'|trans }}</button>
        </div>
    </fieldset>
</form>
{% endblock %}