<div class="control-group">
    {{ form_label(form.slug, 'Název statického boxu'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.slug) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(form.content, 'Obsah statického boxu'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.content) }}
    </div>
</div>
{{ form_rest(form) }}