<div class="control-group">
    {{ form_label(attribute(form, 'link'~id), 'Odkaz na facebook stránku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'link'~id)) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(attribute(form, 'width'~id), 'Šířka'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'width'~id)) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(attribute(form, 'height'~id), 'Výška'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'height'~id)) }}
    </div>
</div>
<div class="control-group">
    {{ form_label(attribute(form, 'border'~id), 'Barva rámečku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'border'~id)) }}
        <p class="help-block">barva rámečku Like Boxu v HEX formátu (#??????)</p>
    </div>
</div>

<div class="control-group">
    {{ form_label(attribute(form, 'faces'~id), 'Zobrazit fotky'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'faces'~id)) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(attribute(form, 'stream'~id), 'Zobrazit příspěvky'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'stream'~id)) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(attribute(form, 'header'~id), 'Zobrazit hlavičku'|trans, { 'attr': {'class': 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(attribute(form, 'header'~id)) }}
    </div>
</div>


