<ul class="articles">
{% for article in articles %}
    <li>
        <h2>
            <a href="{{ url('article', {slug: article.slug}) }}" title="{{ article.title }}">
                {{ article.title }}
            </a>
        </h2>
        <span class="imageBox">
            <a href="{{ url('article', {slug: article.slug}) }}" title="{{ article.title }}">
                <img src="http://api.thumbalizr.com/?url={{ article.title }}&width=350&api_key=60158ec4040abbe9fca9618c0ce13bbe" width="250" />
            </a>
        </span>
        <span class="clear"></span>
        <div class="fb-like fleft" data-article="{{ article.id }}" data-href="{{ url('article', {slug: article.slug}) }}" data-send="false" data-layout="button_count" data-width="140" data-show-faces="false"></div>
        <a href="{{ url('article', {slug: article.slug}) }}" class="fright show"><img src="/project/gfx/zobrazit.png" alt="Zobraziť" /></a>
        <span class="clear"></span>
    </li>
{% endfor %}
</ul>
<div class="clear"></div>

{% include "ArtemisBundle::Module/_includes/paginator.html.twig" with { count:count, limit:limit, offset:offsetArticle, offsetName:"offsetArticle"} %}