{% if article %}
    <div class="box">
        <div class="articleSlide">
            <div class="showcase">
                <div class="imageBox">
                    <img src="http://api.thumbalizr.com/?url={{ article.title }}&width=300&api_key=60158ec4040abbe9fca9618c0ce13bbe" />
                </div>
                <div class="info">
                    <h2>
                        <a href="{{ url('article', {slug: article.slug}) }}" title="{{ article.title }}">
                            {{ article.title }}
                        </a>
                    </h2>
                    <p>Do súťaže zapojil: {{ article.createdBy.firstname }}</p>
                    <p class="blue">Ak si myslíš, že práve táto stránka je ešte slabšia
                            ako sociálna dávka, klikni na „LIKE“</p>
                    <div class="fb-like" data-article="{{ article.id }}" data-href="{{ url('article', {slug: article.slug}) }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                </div>
                <div class="clear"></div>
            </div>
            {% if offsetSlide != 0 %}
                <a href="?offsetSlide={{ offsetSlide-1 }}" class="navprev">predchádzajúca stránka</a>
            {% endif %}
            {% if offsetSlide+1 != count %}
                <a href="?offsetSlide={{ offsetSlide+1 }}" class="navnext">nasledujúca stránka</a>
            {% endif %}
        </div>
    </div>
    <div class="clear"><br /></div>
    <div class="line"></div>
{% endif %}